Clinic/PatientTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://www.coding-s.com/xml/patient"
    xmlns:tns="https://www.coding-s.com/xml/patient" elementFormDefault="qualified">

    <complexType name="PaymentType">
        <choice>
            <element name="cash" type="decimal" />
            <element name="insurance" type="tns:Insurance" />
        </choice>
    </complexType>


    <complexType name="Insurance">
        <all>
            <element name="Provider" type="string" />
            <element name="limit" type="decimal" />
        </all>
    </complexType>
</schema>